services:
  mkdocs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sherpa-docs
    ports:
      - "8000:8000"
    volumes:
      - ./:/docs
    stdin_open: true
    tty: true
